body {
    background-color: #3E3232;
    width: 100%;
    color: white;
    font-size: 20px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

a {
    text-decoration: none;
    color: #A87C7C;
}

header {
    display: flex;
    justify-content: space-between;
}

h1 {
    font-size: 45px;
}

h2 {
    font-size: 40px;
}

h3 {
    font-size: 30px;
}

nav ul{
    display: flex;
    justify-content: space-around;
    flex: 0;
    list-style-type: none;
}

nav li {
    margin: 20px;
}

.page-teaser {
    display: flex;
    justify-content: center;
    padding-bottom: 50px;
}

.page-teaser img {
    padding: 20px;
    width: 396px; 
    height: 263px;
    border-radius: 40px;

}

.page-teaser p {
    padding: 25px 0px 25px 0px ;
}

.teaser-intro {
    width: 50%;
    height: 100px;
}

.visit-us {
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 20px;
    background-color: #A87C7C;
    border-radius: 30px;
}

.main-content {
    background-color: white;
    width: 100%;
    color: #A87C7C;
    text-align: center;
}

.main-content img {
    width: 200px;
    height: 200px;
    border: 5px #A87C7C solid;
    border-radius: 20px;

}

.bestsellers {
    display: flex;
    justify-content: space-evenly;
    flex: 0;
    text-align: justify;

}

.flower {
    width: 200px;
}
.citation {
    background-color: #A87C7C;
    width: 100%;
    color: white;
    text-align: justify;
    font-size: 50px;
    font-style: italic;
}

.citation footer {
    text-align: right;
    font-size: 20px;
}

.CTA {
    margin: 50px;
    padding: 10px;
    border-radius: 20px;
    background-color: #3E3232;
    color: white;
    border: 20px #3E3232 solid;
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    text-align: start;
}

.CTA .visit-us {
    align-self: flex-start;
    background-color: #3E3232;
    color: white;
    border: 1px white solid;
}
footer {
    text-align: center;
    padding: 50px;
}